@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
  text-decoration: none;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #002233;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0px 10px;
  color: #e6e6e6;
  font-size: 5vw;
}

@media (orientation: landscape) {
  main {
    font-size: 2vw;
  }
}