@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap');

/* css reset */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  text-decoration: none;
  list-style: none;
}

body {
  min-height: 100vh;
}

/* color */
:root {
  --primary: #0f1147;
  --secondary: #e9f4f4;
  --finished: #12477b;
  --reading: #127b16;
  --dropped: #7b1212;
}

/* utility classes */
/* layout */
.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

/* sizing */
